<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- mandar a traer las hojas de css y estilos de fuente  -->
    <link rel="stylesheet" href="/css/estilos.css">
    <link href='https://fonts.googleapis.com/css?family=Sansita One' rel='stylesheet'>

    <title>INICIO</title>
</head>

<body class="inicio">
    <H1 class="tituloP__formulario">AGREGAR PELICULA</H1>

    <form class="formulario_eliminar_agregar" action="###">

            <div class="formulario__campos">
                <div class="formulario__campo">
                    <label for="">Nombre de la pelicula </label>
                    <input class="formulario__input-text" type="text" placeholder="Nombre de la pelicula">
                </div>

                <div class="formulario__campo">
                    <label for="">Descripcion </label>
                    <input class="formulario__input-text" type="text">
                </div>
                
                <div class="formulario__campo">
                    <label for="">URL imagen </label>
                    <input class="formulario__input-text" type="text" placeholder="URL">
                </div>

            </div>
            <div class="alinear-derecha flex">
                <input class="boton--formulario" type="submit" value="Enviar">
            </div>

    </form>
</body>

</html>