/* estas son las variables que estaremos reutilizando */
:root {
    --primarioclaro: rgba(228, 144, 144, 0.7);
    ;
    --principal: #FF0000;
    --negro: #000000;
    --blanco: #ffffff;
    --fuentePrincipal: 'Sansita One', serif;
}

/* esto es para que cada rem sea igual a 10px */
html {
    font-size: 62.5%;
}


/* globales */
body {
    background-color: var(--blanco);
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
}

p {
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--primario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2.9rem;
}

/*INDEX*/
.inicio {
    background-image: url(imagenes/butacas.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.tituloPrincipal {
    color: var(--blanco);
    margin-top: 15.8rem;
}

.formulario {

    width: 51rem;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 2rem;
}

.formulario_campo {
    text-align: center;
    height: 5.2rem;
    border: none;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    background-color: var(--primarioclaro);
}

/* Aplicar estilos al input */
.formulario_campo input {
    width: 100%;
    /* Ancho del input al 100% del contenedor */
    height: 100%;
    /* Altura del input al 100% del contenedor */
    background-color: transparent;
    /* Color de placeholder blanco */
    border: none;
    outline: none;
    /* Eliminar resaltado al enfocar */
    color: var(--blanco);
    size: 2rem;
}

/* Aumentar el tamaño de la fuente cuando se escribe */
.formulario_campo input:focus {
    font-size: 2rem;
    /* Nuevo tamaño de fuente al enfocar */
    text-align: center;
}

/* Aplicar estilos al placeholder */
.formulario_campo input::placeholder {

    color: white;
    /* Color de placeholder blanco */
    font-size: 2rem;
    /* Aumentar el tamaño del texto del placeholder */
    text-align: center;
    /* Centrar el texto del placeholder */
}

.links{
    text-align: center;
}
.boton{
    background-color: var(--principal);
    color: var(--blanco);
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: .9rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: .5rem;
    width: 10%;
    text-align: center;
    border: none;
    cursor: pointer; /* Cambiar el cursor a una mano al pasar por encima */
}
.texto_acceso{
    color: var(--blanco);
    font-size:1.8rem ;
}
.texto_administrador{
    color: var(--blanco);
    font-size: 1.8rem;
    position: fixed; /* Fijar posición */
    bottom: 0; /* Alinear abajo */
    right: 0; /* Alinear a la derecha */
    margin: 1rem; /* Margen */
}